/*common shared styles*/
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding: 18px 35px;
}

/*nav related styles*/
nav {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}